* {
    font-family: "Montserrat", serif;
    scroll-behavior: smooth;
}

/* center page content */
body {
    width: 812px;
    margin: auto;
    background-color: #F5F5F5;
}

/* Header content */
header {
    opacity: 0.8;
    height: 37px;
    margin: 57px auto 24px 0;
    border-bottom: 1px solid #DED7C8;
}

h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

/* Nav CSS */
nav {
    margin-bottom: 350px;
}

nav li {
    margin-bottom: 24px;
}

nav a {
    font-weight: 300;
    font-size: 32px;
    line-height: 58px;
    color: #89AD6D;
    text-decoration: none;
}

nav li:hover {
    text-decoration: underline;
}

/* About me section*/
#about-me {
    display: flex;
    flex-direction: column;
    height: 463px;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    color: #89AD6D;
    height: 24px;
}

#about-me figure, #about-me p, h2 {
    margin: 8px 0;
}

#about-me div {
    display: flex;
    flex-direction: row;
}

#about-me figure, #about-me p  {
    width: 406px;
    height: 400px;
}

#about-me p {
    margin-left: 16px;
}

#about-me img {
    width: 406px;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

#about-me p {
    line-height: 20px;
}

/* TO DO - project work CSS */

/* Contact CSS */
#contact-me {
    margin-top: 80px;
    padding-bottom: 80px;
}

#contact-me ul {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contact-me li img {
    height: 34px;
    width: 34px;
    object-fit: fill;
}
/* TO DO - make contact icons work via popups and/or clickable links */

/* Responsive CSS for small devices */

/* Mobile - 719 and below */
@media screen and (max-width: 719px) {
    
}

/* Tablet - 720-1023 */
@media screen and (max-width: 1023px) {
    
}